@charset "utf-8";
/* CSS Document */
@media (min-width: 768px) {
    .navbar-nav {
        float: right !important;
        margin: 20px 0 0 0 !important;
    }
}

.navbar {
    background: transparent !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #428bca !important;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent !important;
}

.topo-login {
    width: 100%;
    margin: 0 auto;
    background: #77cdde;
    padding: 20px 0;
    text-align: center;
}

.login-layout {
    background-color: #efefef !important;
}

    .login-layout .widget-box {
        padding: 0px !important;
        background-color: transparent !important;
    }

        .login-layout .widget-box .widget-main {
            background: #fff !important;
            color: #000 !important;
        }

.header.blue {
    border-bottom: none !important;
    color: #77cdde !important;
    font-weight: 400;
    text-align: center;
}

.input-login {
    text-align: center;
    border: none !important;
    background: transparent !important;
    color: #000 !important;
}

.btn-entrar {
    border-radius: 20px !important;
    margin: 0 auto !important;
    background: #2fa0b9 !important;
}

.btn-esqueci {
    border-radius: 20px !important;
    margin: 0 auto !important;
    background: transparent !important;
    color: #77cdde !important;
}

.btn-cadastro {
    border-radius: 20px !important;
    margin: 0 auto !important;
    background: #2fa0b9 !important;
    color: #fff !important;
    padding: 10px 20px;
    border-width: 4px;
    font-size: 13px;
    line-height: 1.38;
    text-transform: uppercase;
    text-decoration: none !important;
}

@media only screen and (max-width: 540px) {
    .login-box .toolbar > div {
        min-width: 130px !important;
    }
}

.login-box .toolbar {
    background: transparent !important;
    border-top: none !important;
    text-align: center;
    text-transform: uppercase;
}

footer {
    position: relative;
    bottom: 0px;
    text-align: center;
}

.login-box .toolbar > div:first-child {
    float: none !important;
    text-align: center !important;
}

.como-funciona {
    width: 100%;
    background-color: #CCC;
    color: #333;
    text-align: center;
    padding: 30px 10%;
    margin: 30px auto 20px auto;
}

    .como-funciona h3 {
        text-align: center;
    }

.m-t-sm {
    margin-top: 5px;
}