@charset "utf-8";
/* CSS Document */
.nav-list > li {display: inline-block; width: 24.8%; border-bottom:2px solid #f8f8f8 !important;}
.nav-list > li:hover, .no-skin .nav-list > li:hover{border-bottom:2px solid #629cc9 !important;}
.nav-list > li.ativo, .no-skin .nav-list > li.ativo {border-bottom:2px solid #629cc9 !important;}
.no-skin .nav-list > li > a, .nav-list > li > a { text-align:center;}
.nav-list{background-color:#f8f8f8;}
.no-skin .nav-list > li > a {background-color:#f8f8f8 !important; color: #266cad; border:none !important;}


@media only screen and (max-width: 479px){
.navbar:not(.navbar-collapse) .navbar-header{float:left !important;}
}
@media (max-width: 540px) and (min-width: 480px), (max-width: 360px){
.navbar:not(.navbar-collapse) .navbar-buttons .user-info {width: 220px !important; max-width: 220px !important;}
}
@media only screen and (max-width: 1258px){
.nav-list > li {width: 24.4% !important;}
}
@media only screen and (max-width: 420px){
.nav-list > li {width: 24% !important;}
}
