﻿<%@ Page Title="Vantagens - Minha Audiência" Language="C#" MasterPageFile="~/MasterPageAberta.master" AutoEventWireup="true" CodeFile="vantagens.aspx.cs" Inherits="vantagens" %>

<asp:Content ID="conteudo" runat="server" ContentPlaceHolderID="conteudo">
    <div class="container">
        <h1>Vantagens</h1>
        <p>Aliquam ante tellus, interdum quis tincidunt nec, malesuada non libero. Vivamus sit amet mauris maximus, iaculis turpis id, porta orci. Morbi vestibulum vestibulum cursus. Nam id sem nisi. Pellentesque sodales dapibus nisl, et egestas nibh scelerisque a. In interdum hendrerit interdum. Donec posuere rhoncus lacus ac elementum. Duis non enim eget massa mattis blandit eget non velit.</p>
        <p>Etiam faucibus arcu eu nisi varius, nec mollis lorem elementum. Praesent in placerat velit, ut accumsan urna. Sed hendrerit lacus et sagittis vulputate. Nunc condimentum bibendum nisi at vehicula. Aliquam at bibendum turpis, eget sollicitudin eros. Aliquam aliquet enim sit amet scelerisque imperdiet. Quisque maximus et tellus sed fringilla. Suspendisse dapibus ut magna eu posuere.</p>
        <p>Vestibulum ultrices ullamcorper ipsum a viverra. Curabitur gravida bibendum turpis sed viverra. Nulla et tristique orci. Etiam at mi purus. Vestibulum ex elit, porttitor id commodo non, aliquet non ante. Mauris iaculis dui turpis, eget porta ligula tincidunt ut. Pellentesque egestas mi in placerat auctor. Nulla a sem eget erat malesuada hendrerit. Suspendisse et sem id lacus ultrices efficitur eu in ex. Pellentesque ultricies, eros sed sollicitudin varius, enim arcu malesuada libero, quis tempus sapien leo ut odio. Nunc ornare sit amet sapien id ultricies. Aliquam eget erat dolor. Aenean ultricies felis eget feugiat sollicitudin.</p>
        <p>Duis felis tellus, mattis sit amet interdum quis, venenatis id leo. Sed elementum fermentum bibendum. Morbi imperdiet vehicula turpis. Maecenas ac eros euismod, aliquet urna vitae, placerat elit. Curabitur tincidunt massa vitae neque molestie, in pharetra turpis ullamcorper. Morbi rhoncus lectus et ligula sodales, sed dignissim neque feugiat. Mauris placerat urna convallis enim aliquet, ut lacinia enim lacinia. Pellentesque accumsan libero et ante dignissim, ac scelerisque leo suscipit. Morbi quam lectus, mollis at ligula et, blandit porta sem. Phasellus auctor ex quis ipsum ultrices congue. Cras at varius nunc. Nulla in libero non mauris congue pretium quis ac justo.</p>
        <p>Sed id lorem sit amet massa finibus vulputate sed vitae sapien. Duis euismod nibh nisl. Aenean vitae luctus mi. Integer porta mi magna, id consectetur risus venenatis at. Quisque ut scelerisque lorem. In hac habitasse platea dictumst. Duis finibus efficitur purus, et condimentum risus malesuada at.</p>
    </div>
</asp:Content>